<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>
                <li *ngFor="let item of menuItems"> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="mdi mdi-gauge"></i>
                    <span class="hide-menu">{{ item.titulo }} </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let subMenuItem of item.submenu">
                            <a [routerLink]="subMenuItem.url"> {{ subMenuItem.titulo }} </a>
                        </li>
                    </ul>
                </li>
                <li *ngFor="let item of menuItems"> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="mdi mdi-bullseye"></i>
                    <span class="hide-menu">{{ item.titulo1 }}</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let subMenu1Item of item.submenu1">
                            <a [routerLink]="subMenu1Item.url"> {{ subMenu1Item.titulo1 }} </a>
                        </li>
                        
                    </ul>
                </li>
                <li *ngFor="let item of menuItems"> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="mdi mdi-bullseye"></i>
                    <span class="hide-menu">{{ item.titulo2 }}</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let subMenu2Item of item.submenu2">
                            <a [routerLink]="subMenu2Item.url"> {{ subMenu2Item.titulo2 }} </a>
                        </li>
                        
                    </ul>
                </li>
                <li *ngFor="let item of menuItems"> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="mdi mdi-bullseye"></i>
                    <span class="hide-menu">{{ item.titulo3 }}</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let subMenu3Item of item.submenu3">
                            <a [routerLink]="subMenu3Item.url"> {{ subMenu3Item.titulo3 }} </a>
                        </li>
                        
                    </ul>
                </li>
                <li *ngFor="let item of menuItems"> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="mdi mdi-bullseye"></i>
                    <span class="hide-menu">{{ item.titulo4 }}</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let subMenu4Item of item.submenu4">
                            <a [routerLink]="subMenu4Item.url"> {{ subMenu4Item.titulo4 }} </a>
                        </li>
                        
                    </ul>
                </li>
               

                
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>